.body {background-color : green }
.gioithieu {background-color : white ; border-radius : 30px ; margin-top : 50px; margin-bottom : 50px ; padding-left : 30px ; display:flex ;  }
.anhcanhan {padding-top :50px ; padding-bottom: 20px; padding-left : 10px; padding-right : 20px  }
.hoten {font-size :50px ; padding-left: 50px}
.khaiquat {font-size : 40px ; background-color : white;  border-radius : 30px ; margin-top : 50px; margin-bottom : 50px ; padding-left : 30px ; padding-top : 10px ; padding-bottom : 10px }
.mongmuon {display :flex ;font-size : 30px ; background-color : white;  border-radius : 30px ; margin-top : 50px; margin-bottom : 50px}
.anhhoden {margin-top:60px; margin-left:120px}
.danhsach1{margin-left : 50px}
.doibongyeuthich {background-color: white;border-radius: 30px; margin-top: 50px;margin-bottom: 50px; padding-left: 50px; padding-top:30px; padding-bottom : 30px ; font-size:30px}
.mancity {display:flex}
.nguyenvong {background-color: white;border-radius: 30px;margin-top: 50px;margin-bottom: 50px; display:flex}
.danhsach2 {margin-left:50px ;font-size:30px }
.money {margin-left:70px; margin-top:20px}
.banbe {background-color: white; border-radius: 30px; margin-top: 50px; margin-bottom: 50px;padding-top:30px;padding-bottom:30px; font-size:30px; padding-left:60px}

